html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

@font-face {
  font-family: "montserrat-medium";
  src: url("../assets/font/montserrat/montserrat-medium.woff") format("woff"), url("../assets/font/montserrat/montserrat-medium.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "montserrat-semibold";
  src: url("../assets/font/montserrat/montserrat-semibold.woff") format("woff"),url("../assets/font/montserrat/montserrat-semibold.woff") format("woff");
}

body{
  background-image: url("../assets/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

main{
  position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box{
  background-color: #E9ECEE;
  width: 48rem;
  height: 45rem;
  display: flex;
  padding: 5rem;
  margin: auto;
  border-radius: 8rem;
  flex-direction: column;
  align-items: center;
  /* margin-top: 15rem; */
  box-shadow: 0px 0px 70px #B0B1B5;
}

h1{
  text-align: center;
  font-size: 1.9rem;
  padding-top: 4rem;
  color:#1102DF;
  font-family: "montserrat-semibold";
}

.sign-in-p{
  text-align: center;
  font-size: 1.4rem;
  padding-top: 1rem;
  padding-bottom: 3.5rem;
  color:#9199AA;
  font-family: "montserrat-medium";
}

.no-account{
  text-align: center;
  font-size: 1.3rem;
  color:#9199AA;
  font-family: "montserrat-medium";
}

.button{
  position: relative;
  color:white;
  font-family: "montserrat-medium";
  font-size: 1.8rem;
  width: 24rem;
  height: 8rem;
  background-color: #1CD2A7;
  border-radius: 8rem;
  border: none;
  padding: 3rem;
  outline: none;
  transition: background-color 0.5s ease;
}

button#signin_button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button:disabled{
  background-color: rgba(100,100,100,0.75)
}

.button:enabled:hover{
  background-color: #16BA95;
}

.no-account{
  padding-top: 2rem;
}

.create-one-link{
  text-decoration: none;
  color: #1CD2A7;
  font-family: "montserrat-semibold";
  transition: border-bottom 0.2s ease;
}

.create-one-link:hover{
  border-bottom: 0.2rem solid #1CD2A7;
}

footer{
  opacity: 0.5;
  height: 8rem;
  background-color: #DEDEE9;
  position: fixed !important;
  bottom: 0 !important;
  width: 100%;
}

.footer-logos-div{
  margin: auto;
  display: flex;
  justify-content: flex-end;
  padding-right:3rem;
}

.footer-logo{
  padding-right:2rem;
}

#login-error-feedback{
  display:block;
  padding:0px;
  font-family: "montserrat-semibold";
  font-size:18px;
  padding-bottom:1.5rem;
  color:rgb(168, 2, 2);
  visibility:hidden;
}