html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@font-face {
  font-family: "montserrat-medium";
  src: url("../assets/font/montserrat/montserrat-medium.woff") format("woff"), url("../assets/font/montserrat/montserrat-medium.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "montserrat-semibold";
  src: url("../assets/font/montserrat/montserrat-semibold.woff") format("woff"), url("../assets/font/montserrat/montserrat-semibold.woff") format("woff");
}

body {
  background-image: url("../assets/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.main-div {
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.kader {
  margin-top: 7rem;
  background-color: #F3F4F3;
  width: 80rem;
  max-height: 55rem;
  display: flex;
  justify-content: flex-start;
  /* margin: 0 auto; */
  border-radius: 6rem;
  flex-direction: column;
  padding: 8rem;
  box-shadow: 0px 0px 10px #8E8F92;
  overflow-y: scroll;
}

#feedback-div {
  margin-top: 3rem;
  background-color: #F3F4F3;
  height: 8rem;
  border-radius: 3.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 50px rgba(142, 143, 146, 0.5);
}

.formrow {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}


/*form {
width: 70rem;
height: 130rem;
}*/

.label-info {
  min-width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.p-form {
  color: #667E86;
  font-family: 'montserrat-medium', 'Karla', sans-serif;
  font-size: 1.4rem;
  margin-right: 0.2rem;
}

#opts_more {
  margin: 0;
  padding: 0;
}

.input-form {
  background-color: #FEFFFE;
  border-radius: 0.6rem;
  border: none;
  height: 2.5rem;
  width: 80%;
  outline: none;
}

.input-form-large {
  background-color: #FEFFFE;
  border-radius: 0.6rem;
  border: none;
  height: 2.5rem;
  width: 50rem;
  outline: none;
  font-family: 'montserrat-medium', 'Karla', sans-serif;
}

.input-submit {
  border-radius: 1.5rem;
  color: white;
  background-color: #1CD2A7;
  border: none;
  height: 2.5rem;
  margin-left: 2rem;
  width: 7rem;
  outline: none;
  transition: background-color 0.5s ease;
}

.input-submit:hover {
  background-color: #15B28E;
}

.submit-p {
  font-size: 1.3rem;
  font-family: 'montserrat-medium', 'Karla', sans-serif;
}

.button {
  font-family: 'montserrat-medium', 'Karla', sans-serif;
  position: relative;
  color: white;
  font-size: 1.8rem;
  height: 3rem;
  background-color: #1CD2A7;
  border-radius: 8rem;
  padding: 3rem;
  outline: none;
  transition: all 0.5s ease;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-menu {
  background-color: #F2F4F2;
  padding: 1.5rem;
  font-size: 1.4rem;
  font-family: 'montserrat-medium', 'Karla', sans-serif;
  border: none;
}

.button.extra:enabled:hover {
  background-color: rgb(81, 180, 157);
  transform: scale(0.85);
}

.button.extra:enabled:active {
  background-color: rgb(81, 180, 157);
  transition: all 0.15s ease;
  transform: scale(0.75);
}

button:enabled:hover {
  background-color: #15B28E;
  transform: scale(1.05);
}

#extra_button:enabled:hover {
  transform: scale(0.85);
}

.button:disabled {
  background-color: rgb(11, 90, 72);
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 6rem;
  bottom: 0 !important;
}

.info {
  background-color: #E4E6EB;
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  border-radius: 2rem;
  color: #9CA1A4;
  font-family: 'montserrat-medium', 'Karla', sans-serif;
  transition: background-color 0.5s ease;
  outline: none;
}

.info:hover {
  background-color: #DDE0EB;
}

.profile-div {
  opacity: 0.9;
  height: 7rem;
  background-color: #F2F4F2;
}

.pf-pic {
  border-radius: 100rem;
  margin-right: 1rem;
}

.profile {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pf-menu-right {
  font-family: 'montserrat-medium', 'Karla', sans-serif;
  color: #9CA1A4;
  font-size: 1.4rem;
  border-bottom: 0.2rem solid #F2F7F7;
  padding-bottom: 0.2rem;
  font-size: 2rem;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 2rem;
}

.pf-menu-right a:hover {
  border-bottom: 0.2rem solid #15B28E;
}

.profile-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 6rem;
  text-align: left;
  width: 20rem;
  justify-content: space-between;
  margin-top: 1rem;
}

.pf-name {
  font-family: 'montserrat-medium', 'Karla', sans-serif;
  color: #727D85;
  font-size: 2.3rem;
  font-weight: bolder;
  text-align: left !important;
  margin-left: 0 !important;
}


/* Show the tooltip text when you mouse over the tooltip container */

.tooltip:hover .tooltiptext {
  visibility: visible;
}

#feedback {
  font-size: 2.33rem;
  font-family: 'Karla', sans-serif;
  font-weight: bolder;
}