html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body{
  background-image: url("../assets/bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.kader{
  background-color: #F3F4F3;
  width: 85rem;
  height: 60rem;
  margin: 0 auto;
  margin-top: 10rem;
  border-radius: 6rem;
  padding: 8rem;
  box-shadow: 0px 0px 130px #8E8F92;

}

.field{
  margin-bottom: 2.8rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.p-form{
  color:#667E86;
  font-family: 'Karla', sans-serif;
  font-size: 1.6rem;
  margin-right: 2rem;
}

.input-form{
  background-color: #FEFFFE;
  border-radius: 0.6rem;
  border: none;
  height: 2.5rem;
  width: 20rem;
  outline: none;
}

.input-submit{
  border-radius: 1.5rem;
  color: white;
  background-color: #1CD2A7;
  border: none;
  height: 2.5rem;
  margin-left: 2rem;
  width: 7rem;
  outline: none;
  transition: background-color 0.5s ease;

}

.input-submit:hover{
  background-color: #15B28E;
}

.submit-p{
  font-size: 1.3rem;
  font-family: 'Karla', sans-serif;
}

.button{
  font-family: 'Karla', sans-serif;
  position: relative;
  color:white;
  font-size: 1.8rem;
  width: 15rem;
  height: 3rem;
  background-color: #1CD2A7;
  border-radius: 8rem;
  padding: 3rem;
  outline: none;
  transition: background-color 0.5s ease;
  border: none;
}

.button:hover{
  background-color: #15B28E;
}

.extra_button{
  background-color: #1CD2A7;
  border-radius: 30rem;
  color: white;
  font-size: 3rem;
  width: 5rem;
  height: 5rem;
  border: none;
  transition: background-color 0.5s ease;
}

.extra_button:hover{
  background-color: #15B28E;
}

button#publish_button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button#extra_button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  outline: none;
}

.buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 6rem;
}

.info{
  background-color: #E4E6EB;
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  border-radius: 2rem;
  margin-left: 1.5rem;
  color:#9CA1A4;
  font-family: 'Karla', sans-serif;
  transition: background-color 0.5s ease;
}

.info:hover{
  background-color: #DDE0EB;
}

.invisible{
  visibility:hidden;
}